#!/bin/bash
#SBATCH --partition={{SBATCH_PARTITION}}
#SBATCH --cpus-per-task={{SBATCH_CPUS_PER_TASK}}
#SBATCH --mem={{SBATCH_MEM}}
#SBATCH -A {{SBATCH_ACCOUNT}}
#SBATCH -t {{SBATCH_TIME}}
#SBATCH --output={{SLURM_STDOUT_DIR}}/%A_%a.out
#SBATCH --error={{SLURM_STDERR_DIR}}/%A_%a.err
#SBATCH --array=1-{{N_REMAINING}}%{{SBATCH_ARRAY_MAX_CONCURRENT}}
#SBATCH --mail-type=all

# -e: Exit the script immediately if any command returns a non-zero exit status.
# -o pipefail: A pipeline fails if any command in the pipeline fails, not just the last one.
# set -eo pipefail

source ~/.bashrc
source ~/.dotenv

cd $HOME/{{HPC_PROJECT_DIR}}

micromamba activate r-4.5
# source .venv/bin/activate
# which python

# Rscript -e "renv::activate()"
# Rscript -e ".libPaths()"
# Rscript -e "renv::status()"

IDX=$SLURM_ARRAY_TASK_ID
JOBROW=$(printf '%s\n' "{{CONDITION_INDICES}}" | sed -n "${IDX}p")
PADDED_JOBROW=$(printf "%04d" "$JOBROW")

# Optional: skip if already finished
if [ -e "{{FINISHED_DIR}}/$JOBROW" ]; then
  echo "Condition $JOBROW already finished. Skipping."
  exit 0
fi

BASE="$HOME/{{HPC_PROJECT_DIR}}/{{JOBDIR}}/run"

if [ -f "$BASE.qmd" ]; then
    EXT="qmd"
elif [ -f "$BASE.ipynb" ]; then
    EXT="ipynb"
else
    echo "Neither run.qmd nor run.ipynb exists" >&2
    exit 1
fi

RUNDIR="$LOCAL_TMPDIR/{{HPC_PROJECT_DIR}}/{{JOBDIR}}-run-$JOBROW-tmp__"
mkdir -p $RUNDIR
mkdir -p "$RUNDIR/log"
mkdir -p "$RUNDIR/out"
mkdir -p "$RUNDIR/slurm-err"
mkdir -p "$RUNDIR/slurm-out"
mkdir -p "$RUNDIR/finished"

rsync -a \
  --exclude='log' \
  --exclude='out' \
  --exclude='finished' \
  --exclude='hpc' \
  --exclude='.quarto' \
  --exclude='slurm-err' \
  --exclude='slurm-out' \
  "$HOME/{{HPC_PROJECT_DIR}}/{{JOBDIR}}/" "$RUNDIR/"

ln -s "$HOME/{{HPC_PROJECT_DIR}}/renv" $RUNDIR/renv
ln -s "$HOME/{{HPC_PROJECT_DIR}}/renv.lock" $RUNDIR/renv.lock

# rsync -a "$HOME/{{HPC_PROJECT_DIR}}/renv.lock" "$LOCAL_TMPDIR/{{HPC_PROJECT_DIR}}/renv.lock"
# rsync -a "$HOME/{{HPC_PROJECT_DIR}}/.Rprofile" "$LOCAL_TMPDIR/{{HPC_PROJECT_DIR}}/.Rprofile"
# rsync -a "$HOME/{{HPC_PROJECT_DIR}}/renv" "$LOCAL_TMPDIR/{{HPC_PROJECT_DIR}}/renv"

LOGFILE="$HOME/{{HPC_PROJECT_DIR}}/{{JOBDIR}}/log/run-${PADDED_JOBROW}-captured.log"

ln -s "$RUNDIR/log/run-${PADDED_JOBROW}.log" "$HOME/{{HPC_PROJECT_DIR}}/{{JOBDIR}}/log/tmp-run-${PADDED_JOBROW}.log"

cd $RUNDIR

# copy .Rprofile into rundir
cp -f "$HOME/{{HPC_PROJECT_DIR}}/.Rprofile" "$RUNDIR/.Rprofile"

# append renv activation (only if not already present)
# cat "$RUNDIR/.Rprofile"
Rscript -e ".libPaths()"

ln -s "$HOME/{{HPC_PROJECT_DIR}}/.venv" $RUNDIR/.venv
source $RUNDIR/.venv/bin/activate
which python

export RETICULATE_PYTHON="$RUNDIR/.venv/bin/python"


# NO_COLOR and TERM=dumb are just so that the captured _output
# from quarto is not rendered weirdly in the log file
NO_COLOR=1 TERM=dumb quarto render $RUNDIR/run.$EXT \
    --output - \
    --to gfm \
    --execute \
    -P JOB_ROW:$JOBROW \
    -P JOB_DIR:$RUNDIR \
    -P JOB_TESTING:False \
    >> $LOGFILE 2>&1


# copy output back from rundir into jobdir
unlink "$HOME/{{HPC_PROJECT_DIR}}/{{JOBDIR}}/log/tmp-run-${PADDED_JOBROW}.log"
rsync -a --remove-source-files "$RUNDIR/log/"       "$HOME/{{HPC_PROJECT_DIR}}/{{JOBDIR}}/log/"
rsync -a --remove-source-files "$RUNDIR/out/"       "$HOME/{{HPC_PROJECT_DIR}}/{{JOBDIR}}/out/"
rsync -a --remove-source-files "$RUNDIR/slurm-err/" "$HOME/{{HPC_PROJECT_DIR}}/{{JOBDIR}}/slurm-err/"
rsync -a --remove-source-files "$RUNDIR/slurm-out/" "$HOME/{{HPC_PROJECT_DIR}}/{{JOBDIR}}/slurm-out/"
rsync -a --remove-source-files "$RUNDIR/finished/"  "$HOME/{{HPC_PROJECT_DIR}}/{{JOBDIR}}/finished/"
